body{
  margin: 0;
  
}

#board {
  background-color: green;

  display: grid;
  grid-template: 

  ;
  
}

.seg {
  color: yellow;
  text-align: center;
}

.dot {
width: 25px;
height: 25px;

  border: none;
  border-radius: 100%;

  justify-self: center;
  align-self: center;

  font-weight: bolder;
  font-size: 100%;
}

.segment {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-template-areas:
    "A B C D"
    "E . . F"
    "G . . H"
    "I J K L"
    "M . . N"
    "O . . P"
    "Q R S T";
}

.cage{
  border-style: double;
  border-color: orange;
}

.dot{
}

.dots {
  border-style: dashed;
  display: grid;
  grid-row: auto;
  align-content: space-around;
}

.twodigit{
  border-style: dotted;
  border-color: red;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: start;

  height: fit-content;
  width: fit-content;

}

#ta{
  grid-area: a;
}
#tb{
  grid-area: b;

}
tc{
  grid-area: c;
}




.segmentgrp {
  width: 100%;
  height: auto;
  aspect-ratio: 2 / 1;

  border-style: dotted;
  border-color: blueviolet;
  display: grid;
  grid-template-columns: auto;
  grid-template-areas: "a b c";

  justify-content: space-evenly;
}
